<% layout('./layout/page.ejs') %>
<div style="text-align: center; margin-top: 50px;">
    <h1>You have error</h1>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <img src="/images/fish.gif" alt="404 Image" style="width:300px;height:auto;">
    <pre><%= error.stack %></pre>
</div>